<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>M.A. in Computational Psychiatry, Seoul National University (Current)</p>
                    <p>B.A. in Psychology, Ewha Womans University (2018)</p>
                    <p>&nbsp;</p>
                    <p>Hyeonjin Kim is a graduate student in the CCS Lab. Hyeonjin received BA in Psychology from Ewha Womans University with high honors in 2018. Broadly she is interested in how the human mind works and would like to learn how statistical/computational methods can be used to better understand aberrant decision making and its neural mechanisms. Hyeonjin hopes to earn her PhD in clinical psychology or neuroscience and pursue a career as a research scientist.</p>
                </div>
            </div>
        </div>
    </section>
